* {
    font-family: arial;
    color: white;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, #C92424, #DB1A1A);
    margin: 0;
    height: 100%;
    
}

hr {
    display: none;
}

header {
    flex: 0, 70px;
    background: linear-gradient(to right, #ffC814, #FFDE14);
    padding: 1em;
    border-bottom: solid black 2px;
}

.title {
    margin-right: 0.5em;
}

main {
    flex: 1;
    display: flex;
    flex-direction: row;
}

nav {
    flex: 0, 100px;
    background: #212121;
    padding: 0.5em;
}
@media (orientation: landscape) {
    .bulk {
        grid-template-columns: repeat(2, 1fr);
    }

    #wrapper {
        display: contents;

    }
  }

@media (orientation: portrait) {
    .bulk {
        grid-template-columns: repeat(1, 1fr);
    }

    #wrapper {
        display: flex;
    }

    #signup {
        flex: 1;
    }

    #signin {
        flex: 1;
    }
}
  
.bulk {
    flex: 10;
    padding: 2em;
    display: grid;
    justify-self: center;
    align-self: center;
    grid-auto-rows: 100px;
    grid-gap: 0em;
    justify-content: center;
    align-items: start;
}

.card {
    margin: 0.5em;
    align-items: start;
    align-self: start;
    justify-content: center;
    justify-self: start;
}

#signup {
    justify-self: center;
}

.text1 {
    margin-right: 0.5em;
}

input {
    color: black;
}

button {
    background: #fC8f14;
    margin-right: 6em;
    border: solid black 2px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

footer {
    flex: 0, 30px;
    background: linear-gradient(to right, #ffC814, #FFDE14);
    padding: 1em;
    border-top: solid black 2px;
}

footer > * {
    padding: 0.25em;
}
