* {
    font-family: arial;
    color: white;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background: #333333;
    margin: 0;
    height: 100%;
}

hr {
    display: none;
}

header {
    flex: 0, 70px;
    background: #dddd00;
    padding: 1em;
}

.title {
    margin-right: 0.5em;
}

main {
    flex: 1;
    display: flex;
    flex-direction: row;
}

nav {
    flex: 0, 100px;
    background: black;
    padding: 0.5em;
}

menu {
    padding: 0;
    margin: 0.5em;
    justify-content: start;
    align-items: center;
}

li {
    list-style: circle;
}

.bulk {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bulk > * {
    margin: 0.5em;
    display: flex;
}

.text1 {
    margin-right: 0.5em;
}

#loginnew {
    margin: 0.5em;
    display: flex;
    flex-direction: row;
}

#login {
    flex:1;
    justify-content: start;
    background: black;
    margin-right: 6em;
}

#new {
    flex:1;
    justify-content: end;
}

footer {
    flex: 0, 30px;
    background: red;
    padding: 1em;
}

footer > * {
    padding: 0.25em;
}
