#postBulk {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #212121;
    border: solid black 5px;
    margin:2em;
}

#postBulk > * {
    margin: 0.5em;
    display: flex;
}

#postText {
    width: 20vw;
    height: 20vh;
}