#loginBulk {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center;
    background-color: #212121;
    border: solid black 5px;
    margin:2em;
}

#loginBulk > * {
    margin: 0.5em;
    display: flex;
}

#welcome {
    font-size: 2em;
    font-weight: bolder;
    margin-bottom:0;
}

#loginnew {
    margin: 0.5em;
    display: flex;
    flex-direction: row;
}

#login {
    flex:1;
    justify-content: start;
    background: #fC8f14;
    margin-right: 6em;
    border: solid black 2px;
}

#new {
    flex:1;
    justify-content: end;
}