@media (orientation: landscape) {
    #createBulk {
        grid-template-columns: repeat(2, 1fr);
    }

    #wrapper {
        display: contents;
    }
  }

@media (orientation: portrait) {
    #createBulk {
        grid-template-columns: repeat(1, 1fr);
    }

    #wrapper {
        display: flex;
    }

    #signup {
        flex: 1;
    }

    #signin {
        flex: 1;
    }
}
  
#createBulk {
    flex: 10;
    padding: 2em;
    display: grid;
    justify-self: center;
    align-self: center;
    grid-auto-rows: 100px;
    grid-gap: 0em;
    justify-content: center;
    align-items: start;
    background-color: #212121;
    border: solid black 5px;
    margin:2em;
}

.card {
    margin: 0.5em;
    align-items: start;
    align-self: start;
    justify-content: center;
    justify-self: start;
}

#signup {
    justify-self: center;
}

#button {
    background: #fC8f14;
    margin-right: 6em;
    border: solid black 2px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}